In [2]:
import nltk
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("moviereviews.tsv",sep = "\t")
df.head(2)

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...

In [4]:
df["label"].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [5]:
df.shape

(2000, 2)

In [6]:
blanks = []
for i,lb,rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [7]:
df.drop(blanks,inplace = True)

In [8]:
df["label"].value_counts()

pos    987
neg    986
Name: label, dtype: int64

In [9]:
df.dropna(inplace= True)

In [10]:
df["label"].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [11]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [12]:
sid = SentimentIntensityAnalyzer()

In [15]:
df["scores"] = df["review"].apply(lambda review:sid.polarity_scores(review))
df.head(2)

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."

In [16]:
df["compound"] = df["scores"].apply(lambda d:d["compound"])

In [17]:
df.head(2)

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618

In [22]:
df["comp_score"] = df["compound"].apply(lambda score:"pos" if score >=0 else "neg")
df.head(2)

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg

In [23]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [24]:
accuracy_score(df["label"],df["comp_score"])

0.6357069143446853

In [25]:
print(classification_report(df["label"],df["comp_score"]))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [26]:
print(confusion_matrix(df["label"],df["comp_score"]))

[[427 542]
 [164 805]]